@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--backgorund-one: #18181B;
--backgorund-two: #242428;
--background-three:#F5F7F8;
--color-one:#09A8FA;
--color-two:#28c423;
--color-thre:#FFD93D;
--color-for:#FF6B6B;
--text-color:#FFFCFB;
--text-color-two:#18181B;
--font-one:"Roboto", sans-serif;
--font-two:"Inter", sans-serif;
}
*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
list-style: none;
outline: none;
}
body{
    background-color:var(--backgorund-one);
    color: var(--text-color);

}